.bg {
  background-image: url("https://www.allbusiness.com/media-library/business-location.jpg?id=32092686&width=1200&height=600&coordinates=0%2C0%2C0%2C1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -20px;
  margin-left: -600px;
  margin-right: -10px;
  margin-bottom: -10px;
}
